:root {
    --primary-color: #050505;
    --secondary-color: rgb(23,134,78);
    --thirdary-color: #a8a3a3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body */

body {
    background-color: var(--thirdary-color);
    font-style: italic, helvetica, arial ;
}

/* Header */

header {
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-color: var(--primary-color);
    border-bottom: 5px solid var(--secondary-color);
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 45px;
    font-style: Verdana, Helvetica;
}

header a {
    color: var(--secondary-color);
    text-decoration: none;
}
header nav  {
    margin: 8px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.65vw;
    color: var(--secondary-color);
}

/* Banner under header */

.banner {
    overflow: hidden;
    max-height: 200px;
    
}

/* run buddy image*/

.run-buddy {
    overflow: hidden;
    max-width: 400px;
    max-height: 200px;
    position: 90%;
}